.container {
    width: 1400px;
    margin: auto;
    padding: 20px;
    background-color: #f5f2ec;
  }

.container h2 {
  color: black;
}
  
  .container_info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); 
    align-items: center;
    gap: 30px;
  }
  
  .card_container {
    display: flex;
    align-items: center;
    gap: 20px; /* Уменьшено расстояние между картинкой и текстом */
    border-radius: 20px;
    background-color: #ffffffbe; /* Светлый фон карточки */
    padding: 20px; /* Увеличенный внутренний отступ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card_container img {
    width: 300px; /* Уменьшенная ширина изображения */
    height: 300px; /* Пропорциональная высота изображения */
    object-fit: cover; /* Изображение сохраняет пропорции, но заполняет контейнер */
    border-radius: 15px;
  }
  
  .card_content {
    flex: 1; /* Контент занимает оставшееся пространство */
    padding: 15px; /* Дополнительный отступ для текста */
  }
  
  .card_content h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333; /* Темный цвет заголовка */
  }
  
  .card_content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8; /* Больше межстрочного пространства */
    color: #555; /* Темно-серый цвет текста */
  }
  
  @media (max-width:1000px) {
    .container {
      width: 1000px;
      margin: auto;
      padding: 20px;
      background-color: #f5f2ec;
    }
  }
  @media (max-width: 780px ) {
    .container {
      width: 780px;
    }
    .container_info {
      width: 760px;
    }
    .card_container {
      width: 560px;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
  
  @media (max-width:480px) {
    .container {
      width: 480px;
    }
    .container_info {
      display: flex;
      flex-direction: column;
      width: 460px;
      gap: 15px;
      
    }
    .card_container {
      width: 400px;
      display: flex;
      flex-direction: column;
      margin-left: 19px;
    }
  }

  @media (max-width:380px) {
    .container {
      width: 380px;
    }
    .container_info {
      display: flex;
      flex-direction: column;
      width: 370px;
      gap: 15px;
      
    }
    .card_container {
      width: 360px;
      display: flex;
      flex-direction: column;
      margin-left: 19px;
    }
  }