.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 980px;
    margin: auto;
}

.nav_container a {
    text-decoration: none;
    font-weight: 350;
    font-size: 25px;
    line-height: 2.6;
    color: #000;
}

.nav_container a:hover {
    color: #9b7949;
}