.main_container {
    padding: 20px;
    background-color: #f5f2ec;
    width: 1400px;
    margin: auto;
  }
  
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    justify-content: center;
    align-items: center; 
  }
  
  .card {
    display: flex;
    align-items: center; 
    gap: 20px; 
    width: 100%; 
    max-width: 800px; 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffffbe; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  

  .cardImage img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px 0 0 10px; 
  }
  
  .cardContent {
    padding: 15px; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex: 1;
  }
  
  .cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left; 
  }
  
  .cardDescription {
    font-size: 14px;
    color: #555; 
    text-align: left; 
  }
  
  @media (max-width:1000px) {
    .main_container {
      width: 1000px;
    }

    .card_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
      
    }

    .card {
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 530px;
    }

    .card > .cardImage > img {
      border-radius: 15px;
    }
  }
  @media (max-width: 780px ) {
    .main_container {
      width: 780px;
    }

    .card_container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
      
    }

    .card {
      display: flex;
      flex-direction: column;
      margin: auto;
      height: fit-content;
      width: 580px;
    }

    .card > .cardImage > img {
      border-radius: 15px;
      width: 350px;
      height: 350px;
    }
  }
  
  @media (max-width:480px) {
    .main_container {
      width: 480px;
    }

    .card_container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
      
    }

    .card {
      display: flex;
      flex-direction: column;
      margin: auto;
      height: fit-content;
      width: 460px;
    }

    .card > .cardImage > img {
      border-radius: 15px;
    }
  }